:root {
	--border-color: rgb(3, 0, 161);
	--border-thickness: 0.5vw;
	--border-style: solid;
	--border-radius: 20px;
	--border-shadow-color: rgba(0, 0, 0, 0.22);
	--border-highlight-color: #fff;
	--border-thickness2: 0.2vw;
}
@font-face {
	font-family: dirty;
	src: url(fonts/Meteor\ Strike\ DEMO.otf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	width: 100%;
	min-height: 100%;
	padding: 10px;
	background: url(Images/polygon\ .jpg),
		radial-gradient(rgb(227, 249, 255) 20%, rgb(124, 137, 255) 75%);
	background-blend-mode: multiply;
	background-size: contain;
	background-attachment: scroll;
	/* background-repeat: no-repeat; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.bodyscroll {
	overflow-y: hidden;
}
header {
	grid-area: hd;
	font-family: dirty;
	text-align: left;
	color: rgb(3, 0, 161);
	font-size: 4.9vw;
	line-height: 10vw;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
		1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;
	width: 90vw;
	justify-self: center;
}
.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 0.1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
	grid-template-rows: 8vw 8vw 8vw 10vw 10vw 10vw 5vw 5vw 8vw 8vw 4vw 4vw 8vw 8vw 4vw 4vw 8vw 8vw 7vw 7vw 8vw 8vw 4vw 4vw 8vw 8vw 4vw 4vw 8vw 8vw 7vw 7vw 8vw 8vw 4vw 4vw 8vw 8vw 7vw 7vw 8vw 8vw 4vw 4vw 8vw 8vw 4vw 4vw;
	grid-template-areas:
		"hd hd hd hd hd hd hd hd hd hd hd hd hd hd hd "
		"hd hd hd hd hd hd hd hd hd hd hd hd hd hd hd "
		". . . . . . . . . . . . . . . "
		". . . . p1 p1 p1 p1 p1 p1 p1 p1 . . . "
		". . . . p1 p1 p1 p1 p1 p1 p1 p1 . . . "
		". . . . p1 p1 p1 p1 p1 p1 p1 p1 . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . p2 p2 p3 p3 . . . . . "
		". . . . . . p2 p2 p3 p3 . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . p4 p4 p5 p5 . p6 p6 p7 p7 . p8 p8 . "
		". . p4 p4 p5 p5 . p6 p6 p7 p7 . p8 p8 . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . p9 p9 . . p10 p10 . . . "
		". . . . . . p9 p9 . . p10 p10 . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . p11 p11 p12 p12 . . . . . "
		". . . . . . p11 p11 p12 p12 . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . p13 p13 p14 p14 . . p15 p15 . p16 p16 . "
		". . . p13 p13 p14 p14 . . p15 p15 . p16 p16 . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . p17 p17 . . p18 p18 . p19 p19 . . . . "
		". . p17 p17 . . p18 p18 . p19 p19 . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . p20 p20 p21 p21 . . . . . "
		". . . . . . p20 p20 p21 p21 . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . p22 p22 . . . . . . "
		". . . . . . . p22 p22 . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . p23 p23 p24 p24 . . . . . "
		". . . . . . p23 p23 p24 p24 . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . p25 p25 . . p26 p26 . . . . "
		". . . . . p25 p25 . . p26 p26 . . . . "
		". . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . ";
}

/* profilecards */

.profilecards {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
	background: rgb(232, 153, 220);
	background: linear-gradient(
		315deg,
		rgba(232, 153, 220, 1) 0%,
		rgba(237, 188, 230, 1) 75%
	);
	border-radius: 7px;
	padding: 7%;
	text-align: center;
	color: rgb(49, 49, 49);
	font-size: 2vw;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.profilecards .smallimg {
	background-image: url(images/profile.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 80%;
	border-radius: 50%;
	aspect-ratio: 1/1;
	border: 0.5vw solid var(--border-color);
}
@supports not (aspect-ratio: 1/1) {
	.profilecards .smallimg {
		height: 80%;
	}
}
.p1 {
	grid-area: p1;
	padding: 10px;
	font-size: 3vw;
	border: 2px solid gold;
}
.p1 .mainname {
	font-size: 3.2vw;
}
.p1 .smallimg {
	width: 35%;
}
@supports not (aspect-ratio: 1/1) {
	.p1 .smallimg {
		height: 70%;
	}
}
.p2 {
	grid-area: p2;
}
.p3 {
	grid-area: p3;
}
.p4 {
	grid-area: p4;
}
.p5 {
	grid-area: p5;
}
.p6 {
	grid-area: p6;
}
.p7 {
	grid-area: p7;
}
.p8 {
	grid-area: p8;
}
.p9 {
	grid-area: p9;
}
.p10 {
	grid-area: p10;
}
.p11 {
	grid-area: p11;
}
.p12 {
	grid-area: p12;
}
.p13 {
	grid-area: p13;
}
.p14 {
	grid-area: p14;
}
.p15 {
	grid-area: p15;
}
.p16 {
	grid-area: p16;
}
.p17 {
	grid-area: p17;
}
.p18 {
	grid-area: p18;
}
.p19 {
	grid-area: p19;
}
.p20 {
	grid-area: p20;
}
.p21 {
	grid-area: p21;
}
.p22 {
	grid-area: p22;
}
.p23 {
	grid-area: p23;
}
.p24 {
	grid-area: p24;
}
.p25 {
	grid-area: p25;
}
.p26 {
	grid-area: p26;
}
.mainname {
	font-weight: bold;
	font-weight: bolder;
	font-size: 2.3vw;
}
.names {
	height: max-content;
	width: max-content;
}
.p3,
.p5,
.p6,
.p8,
.p12,
.p13,
.p19,
.p20,
.p22,
.p23,
.p25,
.p26 {
	background: rgb(5, 163, 238);
	background: linear-gradient(
		315deg,
		rgba(5, 163, 238, 1) 0%,
		rgba(119, 217, 237, 1) 75%
	);
}
.p12,
.p21,
.p24,
.p5,
.p3,
.p7,
.p14 {
	margin-left: 2.5px;
}
.p2,
.p4,
.p6,
.p11,
.p13,
.p20,
.p23 {
	margin-right: 2.5px;
}

/* boders */
.borders {
	pointer-events: none;
}
.b0 {
	border-top: 0.8vw var(--border-style) blue;
	border-left: 0.8vw var(--border-style) blue;
	border-top-left-radius: var(--border-radius);
	grid-row: 6/8;
	grid-column: 2/5;
}
.b1 {
	border-bottom: 0.8vw var(--border-style) blue;
	border-left: 0.8vw var(--border-style) blue;
	grid-row: 7/10;
	grid-column: 2/7;
}
.b2 {
	border-bottom: 0.8vw var(--border-style) blue;
	border-left: 0.8vw var(--border-style) blue;
	grid-row: 10/22;
	grid-column: 2/7;
}
.b3 {
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	grid-row: 11/12;
	grid-column: 9/9;
	margin-left: -2.5px;
}
.b4 {
	border-top: var(--border-thickness) var(--border-style) var(--border-color);
	border-right: var(--border-thickness) var(--border-style) var(--border-color);
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	border-top-left-radius: var(--border-radius);
	grid-row: 12/13;
	grid-column: 4/11;
}
.b5 {
	border-top: var(--border-thickness) var(--border-style) var(--border-color);
	border-right: var(--border-thickness) var(--border-style) var(--border-color);
	border-top-right-radius: var(--border-radius);
	grid-row: 12/13;
	grid-column: 11/14;
}
.b6 {
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	grid-row: 15/16;
	grid-column: 10/10;
	margin-left: -2.5px;
}
.b7 {
	border-top: var(--border-thickness) var(--border-style) var(--border-color);
	border-right: var(--border-thickness) var(--border-style) var(--border-color);
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	grid-row: 16/17;
	grid-column: 8/12;
}
.b8 {
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	grid-row: 23/24;
	grid-column: 9/9;
	margin-left: -2.5px;
}
.b9 {
	border-top: var(--border-thickness) var(--border-style) var(--border-color);
	border-right: var(--border-thickness) var(--border-style) var(--border-color);
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	border-top-left-radius: var(--border-radius);
	grid-row: 24/25;
	grid-column: 5/11;
}
.b10 {
	border-top: var(--border-thickness) var(--border-style) var(--border-color);
	border-right: var(--border-thickness) var(--border-style) var(--border-color);
	border-top-right-radius: var(--border-radius);
	grid-row: 24/25;
	grid-column: 11/14;
}
.b11 {
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	grid-row: 27/28;
	grid-column: 6/6;
	margin-left: -2.5px;
}
.b12 {
	border-top: var(--border-thickness) var(--border-style) var(--border-color);
	border-right: var(--border-thickness) var(--border-style) var(--border-color);
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	grid-row: 28/29;
	grid-column: 4/8;
}
.b13 {
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	grid-row: 27/29;
	grid-column: 11/11;
	margin-left: -2.5px;
}
.b14 {
	border-bottom: 0.8vw var(--border-style) blue;
	border-left: 0.8vw var(--border-style) blue;
	grid-row: 22/34;
	grid-column: 2/7;
}
.b15 {
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	grid-row: 35/37;
	grid-column: 9/9;
	margin-left: -2.5px;
}
.b16 {
	border-bottom: 0.8vw var(--border-style) blue;
	border-left: 0.8vw var(--border-style) blue;
	border-bottom-left-radius: var(--border-radius);
	grid-row: 34/42;
	grid-column: 2/7;
}
.b17 {
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	grid-row: 43/44;
	grid-column: 9/9;
	margin-left: -2.5px;
}
.b18 {
	border-top: var(--border-thickness) var(--border-style) var(--border-color);
	border-right: var(--border-thickness) var(--border-style) var(--border-color);
	border-left: var(--border-thickness) var(--border-style) var(--border-color);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	grid-row: 44/45;
	grid-column: 7/11;
}
.backgroundpop {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.555);
	height: 100%;
	width: 100%;
	transition: 0.3s ease-out;
	opacity: 0;
	pointer-events: none;
}

.popcontainer {
	position: fixed;
	top: 25vh;
	left: 20vw;
	width: 60vw;
	height: 50vh;
	border-radius: 30px;
	background-image: url(images/bgimg.jpg);
	background-size: cover;
	border: 3px dashed var(--border-color);
	box-shadow: rgba(0, 0, 0, 0.719) 0px 14px 28px,
		rgba(0, 0, 0, 0.808) 0px 10px 10px;
	transition: 0.2s ease-out;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	padding: 2%;
	transform: scale(0);
	pointer-events: none;
}
.pimage {
	border: 3px dashed var(--border-color);
	border-radius: inherit;
	height: 50%;
	width: 80%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}
.pimg1 {
	background-image: url(Images/mama.jpg);
}
.pimg2 {
	background-image: url(Images/patricia.jpg);
}
.pimg3 {
	background-image: url(Images/ezekiel.jpg);
}
.pimg4 {
	background-image: url(Images/kemi.jpg);
}
.pimg5 {
	background-image: url(Images/fikayo.jpg);
}
.pimg6 {
	background-image: url(Images/adebayo.jpg);
}
.pimg7 {
	background-image: url(Images/damilola.jpg);
}
.pimg8 {
	background-image: url(Images/samuel.jpg);
}
.pimg9 {
	background-image: url(Images/ifeoluwa.jpg);
}
.pimg10 {
	background-image: url(Images/eseohe.jpg);
}
.pimg11 {
	background-image: url(Images/helen.jpg);
}
.pimg12 {
	background-image: url(Images/sunday.jpg);
}
.pimg13 {
	background-image: url(Images/edeowede.jpg);
}
.pimg14 {
	background-image: url(Images/helena.jpg);
}
.pimg15 {
	background-image: url(Images/otibhor.jpg);
}
.pimg16 {
	background-image: url(Images/ofure.jpg);
}
.pimg17 {
	background-image: url(Images/athena.jpg);
}
.pimg18 {
	background-image: url(Images/kaia.jpg);
}
.pimg19 {
	background-image: url(Images/isreal.jpg);
}
.pimg20 {
	background-image: url(Images/andy.jpg);
}
.pimg21 {
	background-image: url(Images/faith.jpg);
}
.pimg22 {
	background-image: url(Images/victory.jpg);
}
.pimg23 {
	background-image: url(Images/Emma.jpg);
}
.pimg24 {
	background-image: url(Images/patrish.jpg);
}
.pimg25 {
	background-image: url(Images/zohan.jpg);
}
.pimg26 {
	background-image: url(Images/zachary.jpg);
}
.descriptionbox {
	border: 1px solid #000;
	list-style: none;
	width: 100%;
	height: 40%;
}
.descriptionbox .desc {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: rgba(148, 148, 148, 0.534);
	border-bottom: 1px solid #000;
	font-size: 80%;
	height: 20%;
	padding-left: 2vw;
}
.descriptionbox .desc:nth-child(even) {
	background-color: rgba(212, 212, 212, 0.534);
}
.desctitle {
	font-weight: bold;
}
.result {
	margin-left: 3vw;
}

/* images */
.p1 .smallimg {
	background-image: url(Images/mama.jpg);
	background-size: 200%;
	background-position: -10vw -2vw;
}
.p3 .smallimg {
	background-image: url(Images/ezekiel.jpg);
	background-size: 150%;
	background-position: -1.8vw -1vw;
}
.p2 .smallimg {
	background-image: url(Images/patricia.jpg);
	background-size: 150%;
	background-position: -2vw -1vw;
}
.p4 .smallimg {
	background-image: url(Images/kemi.jpg);
	background-size: 130%;
	background-position: -2vw 0vw;
}
.p5 .smallimg {
	background-image: url(Images/fikayo.jpg);
	background-size: 240%;
	background-position: -5vw -2vw;
}
.p7 .smallimg {
	background-image: url(Images/damilola.jpg);
	background-size: 180%;
	background-position: -2vw -2vw;
}
.p6 .smallimg {
	background-image: url(Images/adebayo.jpg);
	background-size: 270%;
	background-position: -7vw -2vw;
}
.p9 .smallimg {
	background-image: url(Images/ifeoluwa.jpg);
	background-size: 150%;
	background-position: -3vw -1vw;
}
.p10 .smallimg {
	background-image: url(Images/eseohe.jpg);
	background-size: 270%;
	background-position: -8vw 0vw;
}
.p11 .smallimg {
	background-image: url(Images/helen.jpg);
	background-size: 110%;
	background-position: -1vw -2vw;
}
.p12 .smallimg {
	background-image: url(Images/sunday.jpg);
	background-size: 180%;
	background-position: -4vw 0vw;
}
.p13 .smallimg {
	background-image: url(Images/edeowede.jpg);
	background-size: 190%;
	background-position: -4vw 0vw;
}
.p14 .smallimg {
	background-image: url(Images/helena.jpg);
}
.p15 .smallimg {
	background-image: url(Images/otibhor.jpg);
	background-position: 0vw -2.5vw;
}
.p16 .smallimg {
	background-image: url(Images/ofure.jpg);
}
.p17 .smallimg {
	background-image: url(Images/athena.jpg);
	background-size: 110%;
	background-position: -1vw -3vw;
}
.p18 .smallimg {
	background-image: url(Images/kaia.jpg);
	background-size: 160%;
	background-position: -4vw -1vw;
}
.p19 .smallimg {
	background-image: url(Images/isreal.jpg);
	background-size: 130%;
	background-position: -1vw 0vw;
}
.p20 .smallimg {
	background-image: url(Images/andy.jpg);
	background-size: 190%;
	background-position: -3vw 0vw;
}
.p21 .smallimg {
	background-image: url(Images/faith.jpg);
	background-size: 130%;
	background-position: -1vw 0vw;
}
.p22 .smallimg {
	background-image: url(Images/victory.jpg);
	background-size: 170%;
	background-position: -5vw -2vw;
}
.p23 .smallimg {
	background-image: url(Images/Emma.jpg);
	background-size: 150%;
	background-position: -3vw -2vw;
}
.p24 .smallimg {
	background-image: url(Images/patrish.jpg);
}
.p25 .smallimg {
	background-image: url(Images/zohan.jpg);
	background-size: 140%;
	background-position: -1vw 0vw;
}
.p26 .smallimg {
	background-image: url(Images/zachary.jpg);
	background-size: 170%;
	background-position: -2vw -2vw;
}
.p8 .smallimg {
	background-image: url(Images/samuel.jpg);
	background-size: 160%;
	background-position: -2vw -4vw;
}

/* media query */

@media screen and (min-width: 900px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
	}
	header {
		grid-column: 1/-1;
		grid-row: 1/2;
		font-size: 2vw;
		position: absolute;
		top: 1vw;
		left: 0;
		text-align: center;
		width: 30vw;
		line-height: 4vw;
		padding-top: 3vw;
		margin-left: 9vw;
	}
	.container {
		padding-right: 3vw;
		grid-template-columns: repeat(42, 1fr);
		grid-template-rows: 1vw 10vw 1.5vw 1.5vw 7vw 1.5vw 1.5vw 7vw 1.5vw 1.5vw 7vw;
		grid-template-areas: none;
	}
	.names {
		font-size: 0.8vw;
	}
	.mainname {
		font-size: 1vw;
	}
	.profilecards {
		transition: 0.3s ease-out;
	}
	.profilecards .smallimg {
		width: 90%;
		border: var(--border-thickness2) solid var(--border-color);
	}
	.p1 {
		grid-column: 23/27;
		grid-row: 2/3;
	}
	.p1 .names {
		font-size: 0.8vw;
	}
	.p1 .mainname {
		font-size: 1vw;
	}
	.p2 {
		grid-column: 10/12;
		grid-row: 5/6;
		margin-right: 0;
		margin-left: 1px;
	}
	.p3 {
		grid-column: 8/10;
		grid-row: 5/6;
		margin-left: 0;
		margin-right: 4px;
	}
	.p4 {
		grid-column: 3/5;
		grid-row: 8/9;
	}
	.p5 {
		grid-column: 5/7;
		grid-row: 8/9;
	}
	.p6 {
		grid-column: 11/13;
		grid-row: 8/9;
		margin-right: 0;
		margin-left: 2px;
	}
	.p6 .mainname {
		font-size: 0.8vw;
		font-weight: 900;
	}
	.p7 {
		grid-column: 9/11;
		grid-row: 8/9;
		margin-left: 0;
		margin-right: 1px;
	}
	.p7 .mainname {
		font-size: 0.8vw;
		font-weight: 900;
	}
	.p8 {
		grid-column: 15/17;
		grid-row: 8/9;
	}
	.p9 {
		grid-column: 8/10;
		grid-row: 11/12;
	}
	.p10 {
		grid-column: 12/14;
		grid-row: 11/12;
	}
	.p11 {
		grid-column: 23/25;
		grid-row: 5/6;
		right: 2.5px;
		position: relative;
	}
	.p12 {
		grid-column: 25/27;
		grid-row: 5/6;
		margin-left: 5px;
	}
	.p13 {
		grid-column: 19/21;
		grid-row: 8/9;
		margin-right: 6px;
	}
	.p13 .mainname {
		font-size: 0.8vw;
		font-weight: 900;
	}
	.p14 {
		grid-column: 21/23;
		grid-row: 8/9;
		margin-left: 5px;
	}
	.p15 {
		grid-column: 25/27;
		grid-row: 8/9;
	}
	.p16 {
		grid-column: 29/31;
		grid-row: 8/9;
	}
	.p17 {
		grid-column: 18/20;
		grid-row: 11/12;
	}
	.p18 {
		grid-column: 22/24;
		grid-row: 11/12;
	}
	.p19 {
		grid-column: 25/27;
		grid-row: 11/12;
	}
	.p20 {
		grid-column: 32/34;
		grid-row: 5/6;
	}
	.p21 {
		grid-column: 34/36;
		grid-row: 5/6;
	}
	.p22 {
		grid-column: 33/35;
		grid-row: 8/9;
	}
	.p23 {
		grid-column: 38/40;
		grid-row: 5/6;
	}
	.p24 {
		grid-column: 40/42;
		grid-row: 5/6;
	}
	.p23 .mainname {
		font-size: 0.7vw;
		font-weight: 900;
	}
	.p25 {
		grid-column: 37/39;
		grid-row: 8/9;
	}
	.p26 {
		grid-column: 41/43;
		grid-row: 8/9;
	}
	.p21,
	.p24 {
		margin-left: 2.5px;
	}
	.p13,
	.p20 {
		margin-right: 2.5px;
	}
	.profilecards:hover {
		background: rgb(228, 91, 207);
		background: linear-gradient(
			315deg,
			rgb(230, 140, 216) 0%,
			rgba(235, 152, 223, 1) 75%
		);
		box-shadow: rgba(148, 98, 148, 0.25) 0px 14px 28px,
			rgba(0, 0, 0, 0.22) 0px 10px 10px;
		transform: translateY(-3px);
	}
	.p3:hover,
	.p5:hover,
	.p6:hover,
	.p8:hover,
	.p12:hover,
	.p13:hover,
	.p19:hover,
	.p12:hover,
	.p20:hover,
	.p22:hover,
	.p23:hover,
	.p25:hover,
	.p26:hover {
		background-color: #045de9;
		background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
	}

	/* borders */
	.borders {
		transition: 0.3s ease-out;
	}
	.b0 {
		border-top: none;
		border-top-left-radius: 0;
		grid-column: 25 / 25;
		grid-row: 3/4;
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
	}
	.b1 {
		border-bottom: none;
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-top-left-radius: var(--border-radius);
		grid-column: 11 / 24;
		grid-row: 4/5;
	}
	.b2 {
		border-bottom: none;
		border-left: none;
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 24 / 33;
		grid-row: 4/5;
	}
	.b3 {
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 10 / 10;
		grid-row: 6/7;
	}
	.b4 {
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-top-left-radius: var(--border-radius);
		grid-column: 4 / 10;
		grid-row: 7/8;
	}
	.b5 {
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 10 / 16;
		grid-row: 7/8;
	}
	.b6 {
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 11 / 11;
		grid-row: 9/10;
		margin-left: -0.3px;
	}
	.b7 {
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 9 / 13;
		grid-row: 10/11;
	}
	.b8 {
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 25/ 25;
		grid-row: 6/7;
		margin-left: 1.5px;
	}
	.b9 {
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 20/ 26;
		grid-row: 7/8;
	}
	.b10 {
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 26/ 30;
		grid-row: 7/8;
	}
	.b11 {
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 21 / 21;
		grid-row: 9/10;
		margin-left: 2px;
	}
	.b12 {
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 19 / 23;
		grid-row: 10/11;
	}
	.b13 {
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 26 / 26;
		grid-row: 9/11;
	}
	.b14 {
		border-bottom: none;
		border-left: none;
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-top-right-radius: var(--border-radius);
		grid-column: 33 / 39;
		grid-row: 4/5;
	}
	.b15 {
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 34/ 34;
		grid-row: 6/8;
	}
	.b16 {
		border: none;
	}
	.b17 {
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 40 / 40;
		grid-row: 6/7;
	}
	.b18 {
		border-top: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-right: var(--border-thickness2) var(--border-style)
			var(--border-color);
		border-left: var(--border-thickness2) var(--border-style)
			var(--border-color);
		grid-column: 38 / 42;
		grid-row: 7/8;
	}
	.glowborder {
		border: 2px solid var(--border-highlight-color);
		box-shadow: 0 0 10px var(--border-highlight-color);
		z-index: 10;
	}
	.highlightborderleft {
		border-left: var(--border-thickness2) solid var(--border-highlight-color);
		z-index: 10;
	}
	.highlightborderleft-top-right {
		border-right: var(--border-thickness2) solid var(--border-highlight-color);
		border-left: var(--border-thickness2) solid var(--border-highlight-color);
		border-top: var(--border-thickness2) solid var(--border-highlight-color);
		z-index: 10;
	}
	.highlightbordertop-right {
		border-right: var(--border-thickness2) solid var(--border-highlight-color);
		border-top: var(--border-thickness2) solid var(--border-highlight-color);
		z-index: 10;
	}
	.popcontainer {
		top: 15vh;
		left: 32.5vw;
		width: 35vw;
		height: 70vh;
	}
	.descriptionbox .desc {
		font-size: 1.5vw;
	}

	/* images */
	.p1 .smallimg {
		background-image: url(Images/mama.jpg);
		background-size: 200%;
		background-position: -4vw -0.5vw;
	}
	.p3 .smallimg {
		background-image: url(Images/ezekiel.jpg);
		background-size: 180%;
		background-position: -1.5vw -0vw;
	}
	.p2 .smallimg {
		background-image: url(Images/patricia.jpg);
		background-size: 180%;
		background-position: -1vw -0.6vw;
	}
	.p4 .smallimg {
		background-image: url(Images/kemi.jpg);
		background-size: 120%;
		background-position: -0.5vw 0vw;
	}
	.p5 .smallimg {
		background-image: url(Images/fikayo.jpg);
		background-size: 240%;
		background-position: -1.5vw -0.83vw;
	}
	.p7 .smallimg {
		background-image: url(Images/damilola.jpg);
		background-size: 180%;
		background-position: -1vw -0.9vw;
	}
	.p6 .smallimg {
		background-image: url(Images/adebayo.jpg);
		background-size: 280%;
		background-position: -2.7vw -0.5vw;
	}
	.p9 .smallimg {
		background-image: url(Images/ifeoluwa.jpg);
		background-size: 150%;
		background-position: -1vw -0vw;
	}
	.p10 .smallimg {
		background-image: url(Images/eseohe.jpg);
		background-size: 270%;
		background-position: -2.5vw 0vw;
	}
	.p11 .smallimg {
		background-image: url(Images/helen.jpg);
		background-size: 110%;
		background-position: -0.5vw -1vw;
	}
	.p12 .smallimg {
		background-image: url(Images/sunday.jpg);
		background-size: 180%;
		background-position: -1.5vw 0vw;
	}
	.p13 .smallimg {
		background-image: url(Images/edeowede.jpg);
		background-size: 200%;
		background-position: -1.5vw -0.5vw;
	}
	.p14 .smallimg {
		background-image: url(Images/helena.jpg);
	}
	.p15 .smallimg {
		background-image: url(Images/otibhor.jpg);
		background-position: 0vw -0.5vw;
	}
	.p16 .smallimg {
		background-image: url(Images/ofure.jpg);
	}
	.p17 .smallimg {
		background-image: url(Images/athena.jpg);
		background-size: 110%;
		background-position: -0vw -1vw;
	}
	.p18 .smallimg {
		background-image: url(Images/kaia.jpg);
		background-size: 160%;
		background-position: -1.4vw -0.2vw;
	}
	.p19 .smallimg {
		background-image: url(Images/isreal.jpg);
		background-size: 130%;
		background-position: -0.6vw 0vw;
	}
	.p20 .smallimg {
		background-image: url(Images/andy.jpg);
		background-size: 200%;
		background-position: -1.3vw 0vw;
	}
	.p21 .smallimg {
		background-image: url(Images/faith.jpg);
		background-size: 130%;
		background-position: -0.8vw 0vw;
	}
	.p22 .smallimg {
		background-image: url(Images/victory.jpg);
		background-size: 170%;
		background-position: -1.7vw -0.7vw;
	}
	.p23 .smallimg {
		background-image: url(Images/Emma.jpg);
		background-size: 150%;
		background-position: -1vw -0.7vw;
	}
	.p24 .smallimg {
		background-image: url(Images/patrish.jpg);
	}
	.p25 .smallimg {
		background-image: url(Images/zohan.jpg);
		background-size: 140%;
		background-position: -0.6vw 0vw;
	}
	.p26 .smallimg {
		background-image: url(Images/zachary.jpg);
		background-size: 170%;
		background-position: -0.7vw -0.7vw;
	}
	.p8 .smallimg {
		background-image: url(Images/samuel.jpg);
		background-size: 160%;
		background-position: -0.7vw -1.6vw;
	}
}
